.container{

display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
}

.button{

 
    text-align: left;
    width: 100%;
    color: blue;
    border: 2px solid #808080;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;

}

.content{
border-top: none;
border-left: 2px solid #808080;
border-right: 2px solid #808080;
border-bottom: none;
    outline: none;
}

#content3{
border-bottom: 2px solid #808080;
}

.button:hover{
 text-decoration:underline;
}